.c__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    h2 {
        font-size: 4vw;

        @media screen and (max-width: 480px) {
            font-size: 7vw;
            margin-bottom: 1rem;
            font-weight: 600;
        }
    }

    p {
        margin-top: 2rem;
        font-size: 2.75vw;

        @media screen and (max-width: 480px) {
            margin-top: 1rem;
            font-size: 8vw;
        }
    }
}