.return-to-top {
    display: block;
    position: fixed;
    cursor: pointer;

    bottom: 45px;
    right: 35px;
    width: 48px;
    height: 48px;

    background-color: var(--lighter-color);
    border-radius: 25%;
    border: none;
    outline: none;
    opacity: 40%;

    transition: opacity 0.35s;
    z-index: 5;

    img {
        width: 75%;
        height: 75%;
    }

    &:hover {
        opacity: 100%;
    }

    @media screen and (max-width: 900px) {
        display: none;
    }
}